[bumpversion]
current_version = 0.2.0
commit = True
tag = True

[bumpversion:file:Cargo.toml]
search = 'version = "{current_version}"'

[bumpversion:file:Cargo.lock]
search = 
	[root]
	name = "duiker"
	version = "{current_version}"

[bumpversion:file:src/cli.yaml]

